@keyframes LoadingPage {
    0% {
        opacity: 0;
        bottom: 40px;
        position: relative;
    }

    100% {
        opacity: 1;
        bottom: 0;
        position: relative;
    }
}

@keyframes OPACITY {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MenuDropping {
    0% {
        height: 0;
    }

    100% {
        height: 75%;
    }
}

#canvas1 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.particles {
    opacity: 15%;
}

#menu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 10%;
    bottom: 10%;
    right: 10%;
    overflow: auto;
    height: 75%;
    width: 75%;
    border: 5px solid #EEF2FF;
    border-radius: 25px;
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: MenuDropping 0.3s ease;
    backdrop-filter: blur(14px);
}

#PhoneVer {
    text-decoration: none;
    color: #EAEAEA;
    border-radius: 15px;
    position: relative;

}

#PhoneVer::after {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s ease;

}

#PhoneVer:hover::after {
    position: absolute;
    box-shadow: 0 0 0.3em 0 #EEF2FF, inset 0 0 2em 0 #EEF2FF;

    transition: all 0.3s ease;
}

#proj {
    border: 2px solid #EEF2FF;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;

    padding: 5%;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;

}


body {
    background-color: #191A19;

    font-family: "Century Gothic", sans-serif;
}



::selection {
    background-color: #EEF2FF;
    color: #191A19;
}

::-moz-selection {
    /* Code for Firefox */
    background-color: white;
    color: #191A19;
}

#ForTheTheme {
    animation: OPACITY 0.5s linear;
}

#ForTheTheme::after {
    content: "";
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, #191A19),
        url("/4ae4603\ \(2\).png");

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#Review{
    color:#EEEBDD;
}

#shit {
    position: fixed;
    z-index: 1;
    border: 5px solid black;
    min-width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

.header {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    cursor: pointer;
    backdrop-filter: invert();
    border-radius: 25px;
}


.header a {
    text-decoration: none;
    color: #EEEBDD;
    background-color: #191A19;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;

}

.header a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    border-radius: 15px;
    transition: all 0.5s ease;
}

.header a:hover {
    color: #191A19;
    box-shadow: 0 0 0.6em 0 black;
    position: relative;
}

.header a:hover::after {
    background-color: #EEEBDD;
    transition: all 0.5s ease;
    position: absolute;

}


.header a:active {
    transform: scale(0.95);
    transition: all 0s ease;
}

#theme {
    text-decoration: none;
    border-radius: 25px;
    padding: 7px 10px;
}

#theme::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

#theme:hover::after {
    background-color: #EEEBDD;
    transition: all 0.5s ease;
    position: absolute;

}

#theme img {
    filter: invert(1);
}

#theme :hover {
    filter: invert(0);
}


#name {
    color: #EEEBDD;
}

.wrapper {


    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
    color: #EAEAEA;

}

.main {
    padding: 70px 2% 20px 0;
    animation: LoadingPage 0.5s linear alternate;
}



.allprojects {
    padding: 0 0px 100px 0;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 19px;
    color: #EEEBDD;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allprojects a {
    text-decoration: none;
    color: white;
    position: relative;
    border-radius: 15px;
}

.allprojects a::after {
    content: "";
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.allprojects a:hover::after {
    transition: all 0.3s ease-in;
    box-shadow: 0 0 0 0.05em white;
}



.title {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5em 0 grey;
    border-radius: 15px;
    width: 100%;

}

.footer {
    max-width: 1000px;
    text-align: end;
    margin: 0 auto;
    color: #EAEAEA;
}

.footer a {
    text-decoration: none;
}

.footer img {
    filter: invert(0.8);
    margin: 0 15px 0 0;
}

.footer img:hover {
    transform: scale(1.1);
    filter: invert(1);
}

#PreviewOfProjects {
    text-decoration: none;
    color: #EAEAEA;
    display: grid;
    margin: 5%;
    padding: 0 0 0 20px;
    border: 2px solid #EAEAEA;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    grid-template-columns: 1fr 1fr 1fr;

    overflow-wrap: break-word;
    position: relative;

}

#PreviewOfProjects::after {
    border-radius: 25px;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1s linear;

}

#PreviewOfProjects:hover::after {
    box-shadow: 0 0 0.5em 0 #EAEAEA;
    transition: all 0.2s ease;
    cursor: pointer;
}

#webdev {
    border-radius: 25px;
    margin: 20px;
    grid-row: span 2;
    grid-column: span 2;
    width: 90%;
}

#DescriptionOfTechAll {
    font-size: 19px;
}

.education {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cv {
    display: block;
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #EAEAEA;
    margin: 5% 25%;

}

.cv:hover {
    box-shadow: inset 0 0 1em 0 #EAEAEA;
}

#StuffIWantToMake {
    font-size: 18px;

}

#StuffIWantToMake li {
    padding: 0.7%;
}

#done {
    list-style-type: none;
}

#done:before {
    content: '✓';
}

@media screen and (max-width: 970px) {

    .wrapper {
        font-size: 20px;
    }

    .education {
        font-size: 17px;
    }

    #webdev {
        border-radius: 15px;
        margin: 10%;
        width: 85%;
        height: 85%;
    }

    #DescriptionOfTechAll {
        font-size: 13px;
    }

    #PreviewOfProjects {

        border: 2px solid #EAEAEA;
        padding: 0 0 0 3%;
        border-radius: 15px;
    }

    #tech4all {
        font-size: 17px;
    }

    .allprojects {
        grid-template-columns: 1fr;
    }

    #proj {
        font-size: 17px;
    }

    #AboutMyself {
        font-size: 17px;
        margin: 3%;
    }

    .cv {
        font-size: 17px;
    }

}