* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  background: linear-gradient(to left, #ff7272, #ffb5b5);
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.secret-stuff {
  border: 2px solid black;
  position: fixed;
  border-radius: 15px;
  margin-top: 10%;
  margin-left: 5%;
  color: #700505;
}

#shit {
  backdrop-filter: invert(0.3);
}

#visible {
  display: flex;
  justify-content: center;
  padding: 40% 0;
  font-size: 40px;
  font-family: "century gothic", sans-serif;
}
#visible::after {
  content: "...";
}

@media screen and (max-width: 970px) {
  .secret-stuff {
    display: grid;
    margin: 20% 14% 0 14%;
    font-size: 10px;
  }
  #visible {
    padding: 65% 0;
    font-size: 20px;
  }
}
